* {
    margin: 0;
    padding: 0;
    
}

.main {
    border-style: solid;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border-style: hidden double hidden double;
    border-width: 10px;
    border-color: black;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.main h1 {
    padding-bottom: 20px;
    font-size: 50px;
    font-style: oblique;
    text-decoration: underline double 2px;
}

.main h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 25px;
    margin-left: 8%;
}

.main label {
    font-size: 30px;
    margin-left: 10%;
}

input[type=text] {
    width: 200px;
    height: 25px;
}

input[type=password] {
    margin-left: 6px;
    height: 25px;
    width: 200px;
}

input[type=submit] {
    padding: 10px;
    margin-top: 20px;
    margin-left: 65%;
    font-size: 15px;
    font-weight: bold;
}

.button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 8%;
}
 

